.sk-flex {
  &__col,
  &__row {
    display: flex;
    align-items: center;

    &.space-between {
      justify-content: space-between;
    }
  }

  &__row {
    flex-direction: row;
  }

  &__col {
    flex-direction: column;
  }
}
